@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil:opsz@10..72&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* CUSTOM CSS */

html {
	background-color: #eee9de;
}

body {
	font-family: "Noto Sans", sans-serif;
	font-optical-sizing: auto;
}

header {
	color: #f3f3f3;
	background-color: #24292e;
	margin: 0;
	padding: 1rem 0;
}

a:hover {
	color: #3f4851;
}

code {
	font-size: .85rem !important;
}

pre {
	padding: 1rem 2rem !important;
}

pre:first-of-type {
	background-color: #f5f5f5 !important;
	color: #111 !important;
}

hr {
	border-top: 1px solid rgb(213, 208, 198) !important;
}

nav.navigation {
	align-items: center;
	display: flex;
	height: 100%;
	margin: 0 auto;
	max-width: 100%;
	width: 90rem;
	font-size: 1.15rem;
}

nav.navigation h1 {
	font-family: "Big Shoulders Stencil", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-size: 4rem;
	color: #fff;
	margin-bottom: 0;
}

nav.navigation h1 a {
	padding: 0 !important;
}

nav.navigation a {
	transition: opacity .25s ease-in-out;
}

nav.navigation a:hover {
	opacity: .6;
}

main {
	padding: 3em 1em;
	background-color: #eee9de;
	border-bottom: 1px solid #d5d0c6;
}

main section {
	margin: auto;
	margin: 0 auto;
	max-width: 100%;
	width: 90rem;
}

main p {
	font-size: 1rem;
}

main h1 {
	font-size: 2rem;
}

main h2 {
	font-size: 1.5rem;
}

table.tools {
	width: 100%;
	border-collapse: collapse;
}

table.tools tr {
	border-bottom: 1px solid #eee;;
}

table.tools tr:last-of-type {
	border-bottom: none;
}

table.tools tr td:last-of-type,
table.tools tr th:last-of-type {
	text-align: right;
}

table.hof tr td:last-of-type,
table.hof tr th:last-of-type {
	text-align: right;
}

footer {
	padding: 2em 1em 6em 1em;
	background-color: #eee9de;
	text-align: center;
}

/* DEFAULT CSS */

:root {
	--accent: #2337ff;
	--accent-dark: #000d8a;
	--black: 15, 18, 25;
	--gray: 96, 115, 159;
	--gray-light: 229, 233, 240;
	--gray-dark: 34, 41, 57;
	--gray-gradient: rgba(var(--gray-light), 50%), #fff;
	--box-shadow:
		0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%), 0 16px 32px
		rgba(var(--gray), 33%);
}
@font-face {
	font-family: "Atkinson";
	src: url("//intelligenzija/fonts/atkinson-regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Atkinson";
	src: url("//intelligenzija/fonts/atkinson-bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
body {
	margin: 0;
	padding: 0;
	text-align: left;
	background: linear-gradient(var(--gray-gradient)) no-repeat;
	background-size: 100% 600px;
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: rgb(var(--gray-dark));
	line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5rem 0;
	color: rgb(var(--black));
	line-height: 1.2;
}
h1 {
	font-size: 3.052em;
}
h2 {
	font-size: 2.441em;
}
h3 {
	font-size: 1.953em;
}
h4 {
	font-size: 1.563em;
}
h5 {
	font-size: 1.25em;
}
strong,
b {
	font-weight: 700;
}
a {
	color: var(--accent);
}

p {
	margin-bottom: 1em;
}

textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}
code {
	padding: 2px 5px;
	background-color: rgb(var(--gray-light));
	border-radius: 2px;
}
pre {
	padding: 1.5em;
	border-radius: 8px;
}
pre > code {
	all: unset;
}
blockquote {
	border-left: 4px solid var(--accent);
	padding: 0 0 0 20px;
	margin: 0;
	font-size: 1.333em;
}
hr {
	border: none;
	border-top: 1px solid rgb(var(--gray-light));
}
@media (max-width: 720px) {
	body {
		font-size: 18px;
	}
	main {
		padding: 1em;
	}
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}

