---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Contact Information"
	pubDate={new Date('November 28 2025')}
>
	<p><pre><code>
		-----BEGIN PGP PUBLIC KEY BLOCK-----
Comment: Mail me!

xm8EaSomRhMFK4EEACIDAwTFDRDmYxvm9ph9e5KAG4e8u1qh8buzJv7vTkKfrLzZ
9gdBvKlhQf+ADix8oZR5cxl1wg/GSSnBv7GfMjURirbSX1lo9cpi7/nlxfUZzp2Y
RGCCcF9kwT7EOcxtK5HB7VvNFVNJOUlOVCA8c2k5aW50QHBtLm1lPsKPBBMTCgAX
BQJpKiZGAhsvAwsJBwMVCggCHgECF4AACgkQOf9BIAAkjDUxWAGAkf3E936EWva6
qVIqCFSCBpH5WJC4LZ3pefZcGOzjPc4hTPvQdbPyhTo8DNmHUi99AYCyQ5e3we1S
Zq6y8SnD3wAZnfIdNEOroE6e+ThtGztlKwZm1yp9iAZk8BGr0SLVKXnOUgRpKiZG
EwgqhkjOPQMBBwIDBE0kJjsK1116draf3AgmbF5OwSFrkl2rZWCz1uSJtZlXOFAb
0TM5SeTCEmASkf9+C6DEhRgJM9FswR5D5d73d3zCwCcEGBMKAA8FAmkqJkYFCQ8J
nAACGy4AagkQOf9BIAAkjDVfIAQZEwoABgUCaSomRgAKCRDSnkRJzLFn+LJ5AP91
RI87h8ZWLSqCtVSDLI0+X4Vc+iQEnHIjhG4sIaJBuwEAnkdrtK+CA8cEasON3bNX
IsZUIaba2Qbf3iMgHIOxIzF0oAF9ERDBe7sL7qe1SLZGGIDe78YiNplwyeywOVBg
8igHTeeWkFQFh9LsqtRKoK4bZWBsAYDrTFgx65310de44T69pBgMZSe5etfLuiee
bEzwVmN2zvjvCItDogOFNVhlIUnvnFvOUgRpKiZGEwgqhkjOPQMBBwIDBH2upRAc
PGm0UnM7o8FY4yOUhAhXBx/OVTlMozcU2yLVZsvnr2FuSn9MUT4zXTa0l81RvimV
Ea4VlTn+3o0OMVrCwCcEGBMKAA8FAmkqJkYFCQ8JnAACGy4AagkQOf9BIAAkjDVf
IAQZEwoABgUCaSomRgAKCRAB42sDdV/DB706AP953tyPpId+C4lJKy5daguWXuKw
7f9SAGwThDk5A2pq0AD/RazdS3jvpV2Esf6exHSz9SFkiFx4vYPZL4yOU3mnQfl/
kgGAm07hsE+4/LkiZVlHG5JKENb9eRPWRayPDwKtNDiCiZzLeYmxKunYOPWLxUe+
15spAX9mwsFBYUAxZnGyjC0t5nWZefZmhqCy9UbuMKvdIdzgrUMHYxPBIlsrHvHK
MmD22es=
=GI17
-----END PGP PUBLIC KEY BLOCK-----
	</code></pre>
	</p>
</Layout>
