---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Contact Information"
	pubDate={new Date('November 28 2025')}
>
<h3>Hall of Fame</h3>
<table data-astro-cid-kh7btl4r=""> <tbody><tr data-astro-cid-kh7btl4r=""> <th data-astro-cid-kh7btl4r="">Organization</th> <th data-astro-cid-kh7btl4r="">Proof</th> </tr> <tr data-astro-cid-kh7btl4r=""> <td data-astro-cid-kh7btl4r="">British Armed Forces</td> <td data-astro-cid-kh7btl4r="">On paper</td> </tr> <tr data-astro-cid-kh7btl4r=""> <td data-astro-cid-kh7btl4r="">Dell</td> <td data-astro-cid-kh7btl4r=""><a href="https://web.archive.org/web/20210506201205/https://www.dell.com/learn/nz/en/nzbsd1/campaigns/contributors-dell-software-security#campaignTabs-3" data-astro-cid-kh7btl4r="">(Archived)</a></td> </tr> <tr data-astro-cid-kh7btl4r=""> <td data-astro-cid-kh7btl4r="">ESET Anti Virus</td> <td data-astro-cid-kh7btl4r="">On paper</td> </tr> <tr data-astro-cid-kh7btl4r=""> <td data-astro-cid-kh7btl4r="">DFIN</td> <td data-astro-cid-kh7btl4r="">-</td> </tr> <tr data-astro-cid-kh7btl4r=""> <td data-astro-cid-kh7btl4r="">Harvard University</td> <td data-astro-cid-kh7btl4r="">On paper</td> </tr> <tr data-astro-cid-kh7btl4r=""> <td data-astro-cid-kh7btl4r="">Sync.com Inc.</td> <td data-astro-cid-kh7btl4r=""><a href="https://www.sync.com/help/online-service-acknowledgements/" data-astro-cid-kh7btl4r="">Online</a></td> </tr> <tr data-astro-cid-kh7btl4r=""> <td data-astro-cid-kh7btl4r="">Bosch</td> <td data-astro-cid-kh7btl4r=""><a href="https://psirt.bosch.com/hall-of-fame/websites-hall-of-fame.html" data-astro-cid-kh7btl4r="">Online (2019)</a></td> </tr> <tr data-astro-cid-kh7btl4r=""> <td data-astro-cid-kh7btl4r="">Electronic Frontier Foundation</td> <td data-astro-cid-kh7btl4r=""><a href="https://www.eff.org/security/hall-of-fame" data-astro-cid-kh7btl4r="">Online</a></td> </tr> <tr data-astro-cid-kh7btl4r=""> <td data-astro-cid-kh7btl4r="">U.S. Department of Defense</td> <td data-astro-cid-kh7btl4r=""><a href="https://hackerone.com/deptofdefense/thanks/2018" data-astro-cid-kh7btl4r="">Online</a></td> </tr> <tr data-astro-cid-kh7btl4r=""> <td data-astro-cid-kh7btl4r="">phpMyAdmin</td> <td data-astro-cid-kh7btl4r=""><a href="https://www.phpmyadmin.net/security/PMASA-2018-7/" data-astro-cid-kh7btl4r="">Online</a></td> </tr> <tr data-astro-cid-kh7btl4r=""> <td data-astro-cid-kh7btl4r="">United Nations (UN)</td> <td data-astro-cid-kh7btl4r=""><a href="https://web.archive.org/web/20190803205123/https://unite.un.org/content/hall-fame" data-astro-cid-kh7btl4r="">(Archived)</a></td> </tr> <tr data-astro-cid-kh7btl4r=""> <td data-astro-cid-kh7btl4r="">Philips</td> <td data-astro-cid-kh7btl4r=""><a href="https://www.philips.com/a-w/security/coordinated-vulnerability-disclosure/hall-of-honors.html#slide_#" data-astro-cid-kh7btl4r="">Online (2023-)</a></td> </tr> <tr data-astro-cid-kh7btl4r=""> <td data-astro-cid-kh7btl4r="">CERT-EU</td> <td data-astro-cid-kh7btl4r=""><a href="https://cert.europa.eu/hall-of-fame" data-astro-cid-kh7btl4r="">Online</a></td> </tr> <tr data-astro-cid-kh7btl4r=""> <td data-astro-cid-kh7btl4r="">BMW Group</td> <td data-astro-cid-kh7btl4r=""><a href="https://www.bmwgroup.com/en/general/Security.html#accordion-8fea3b4aee-item-cb72b2ad7a" data-astro-cid-kh7btl4r="">Online (2018)</a></td> </tr> <tr data-astro-cid-kh7btl4r=""> <td data-astro-cid-kh7btl4r="">CERT-EU</td> <td data-astro-cid-kh7btl4r=""><a href="https://www.fortiguard.com/psirt/FG-IR-19-258" data-astro-cid-kh7btl4r="">Online</a></td> </tr> <tr data-astro-cid-kh7btl4r=""> <td data-astro-cid-kh7btl4r="">Microsoft</td> <td data-astro-cid-kh7btl4r=""><a href="https://msrc.microsoft.com/update-guide/acknowledgement/online" data-astro-cid-kh7btl4r="">Online (2018)</a></td> </tr> <tr data-astro-cid-kh7btl4r=""> <td data-astro-cid-kh7btl4r="">Docker</td> <td data-astro-cid-kh7btl4r="">On paper</td> </tr> <tr data-astro-cid-kh7btl4r=""> <td data-astro-cid-kh7btl4r="">DuckDuckGo</td> <td data-astro-cid-kh7btl4r=""><a href="https://hackerone.com/duckduckgo/thanks?type=team" data-astro-cid-kh7btl4r="">Online</a></td> </tr> </tbody></table>
<p>
<b>CVEs:</b>
    CVE-2020-6641,
    CVE-2020-6642,
    CVE-2019-10227,
    CVE-2018-19969,
    CVE-2017-7583

</p>
<hr>
<h3>Contact</h3>	
<p><pre><code>
		-----BEGIN PGP PUBLIC KEY BLOCK-----
Comment: Mail me!

xm8EaSomRhMFK4EEACIDAwTFDRDmYxvm9ph9e5KAG4e8u1qh8buzJv7vTkKfrLzZ
9gdBvKlhQf+ADix8oZR5cxl1wg/GSSnBv7GfMjURirbSX1lo9cpi7/nlxfUZzp2Y
RGCCcF9kwT7EOcxtK5HB7VvNFVNJOUlOVCA8c2k5aW50QHBtLm1lPsKPBBMTCgAX
BQJpKiZGAhsvAwsJBwMVCggCHgECF4AACgkQOf9BIAAkjDUxWAGAkf3E936EWva6
qVIqCFSCBpH5WJC4LZ3pefZcGOzjPc4hTPvQdbPyhTo8DNmHUi99AYCyQ5e3we1S
Zq6y8SnD3wAZnfIdNEOroE6e+ThtGztlKwZm1yp9iAZk8BGr0SLVKXnOUgRpKiZG
EwgqhkjOPQMBBwIDBE0kJjsK1116draf3AgmbF5OwSFrkl2rZWCz1uSJtZlXOFAb
0TM5SeTCEmASkf9+C6DEhRgJM9FswR5D5d73d3zCwCcEGBMKAA8FAmkqJkYFCQ8J
nAACGy4AagkQOf9BIAAkjDVfIAQZEwoABgUCaSomRgAKCRDSnkRJzLFn+LJ5AP91
RI87h8ZWLSqCtVSDLI0+X4Vc+iQEnHIjhG4sIaJBuwEAnkdrtK+CA8cEasON3bNX
IsZUIaba2Qbf3iMgHIOxIzF0oAF9ERDBe7sL7qe1SLZGGIDe78YiNplwyeywOVBg
8igHTeeWkFQFh9LsqtRKoK4bZWBsAYDrTFgx65310de44T69pBgMZSe5etfLuiee
bEzwVmN2zvjvCItDogOFNVhlIUnvnFvOUgRpKiZGEwgqhkjOPQMBBwIDBH2upRAc
PGm0UnM7o8FY4yOUhAhXBx/OVTlMozcU2yLVZsvnr2FuSn9MUT4zXTa0l81RvimV
Ea4VlTn+3o0OMVrCwCcEGBMKAA8FAmkqJkYFCQ8JnAACGy4AagkQOf9BIAAkjDVf
IAQZEwoABgUCaSomRgAKCRAB42sDdV/DB706AP953tyPpId+C4lJKy5daguWXuKw
7f9SAGwThDk5A2pq0AD/RazdS3jvpV2Esf6exHSz9SFkiFx4vYPZL4yOU3mnQfl/
kgGAm07hsE+4/LkiZVlHG5JKENb9eRPWRayPDwKtNDiCiZzLeYmxKunYOPWLxUe+
15spAX9mwsFBYUAxZnGyjC0t5nWZefZmhqCy9UbuMKvdIdzgrUMHYxPBIlsrHvHK
MmD22es=
=GI17
-----END PGP PUBLIC KEY BLOCK-----
	</code></pre>
	</p>
</Layout>
