---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<section>
				<h1>0x00! Welcome, dear Internet traveler ..</h1>
				<p style="text-align: center; border: 1px solid #d5d0c6; border-radius: 1rem; padding: 2rem;">
					SXQgc2VlbXMgdGhhdCB0aGUgc3RhcnRwYWdlIHdlbnQgbWlzc2luZyAuLiBJIG9ubHkgcmVtZW1iZXI6IDQ1Ozc4OzQzOzc5OzU0OzQ5OzZl
					<small style="display: block;text-align: right;">Please use the top right navigation menu!</small>
				</p>
			</section>
		</main>
		<Footer />
	</body>
</html>
